config.yaml
config.env
config.toml
config.json
.env

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/vendor/
go.work

/out/
/build/
/tmp/

/.idea/
/.idea_modules/

/www/node_modules/
/www/dist/
/www/build/
